* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #fafaf8;
}

header {
  height: 90px;
  margin: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  background: #ffffff;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header nav img {
  width: 43px;
  height: 52px;
}

header nav span {
  font-family: Inter;
  font-weight: 400px;
  font-size: 32px;
  line-height: 60px;
  letter-spacing: -5%;
  color: #141413;
}

main {
  padding: 70px 30px 30px;
}

main form {
  display: flex;
  justify-content: center;
  gap: 12px;
}

main form > input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
  padding: 9px 13px;
}

main form > button {
  color: #fafaf8;
  background-color: #141413;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  width: 150px;
}
